.primaryButton {
	background: var(--primaryClr);
	color: var(--primaryBg);
	background-position: 50%;
	transition: background 0.8s;
	display: inline-block;
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	display: grid;
}

.primaryButton span {
	display: grid;
	width: 100%;
	height: 100%;
	justify-items: center;
	align-items: center;
}


.primaryButton:hover{
	background-color: var(--primaryClr);
  opacity:0.8;
  transition: 0.2s ease all;
}
