.inputField {
  font-size: 15px;
  padding: 10px 10px 10px 2px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--subText40);
  box-shadow: none;
  background: var(--primaryBg);
  color: var(--text);
  transition: all 0.2s ease;
  padding-left: 2px;
}

.inputField:focus {
  border-color: var(--primaryClr);
}

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 10px;
  color: var(--subText30);
  transition: 0.2s ease all;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: -12px;
  font-size: 13px;
  opacity: 1;
  transition: 0.2s ease all;
  color: var(--primaryClr);
}

input {
  outline: none;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
