@keyframes collapse {
  0% {
    grid-template-columns: 4fr 6fr;
  }
  50% {
    grid-template-columns: 4fr 6fr;
  }
  100% {
    grid-template-columns: 4fr 6fr;
  }
}

@keyframes collapsediv {
  0% {
    width: 10vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.titleDetails {
  opacity: 0;
  margin-top: 20px;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--text);
  animation: 1.2s ease fadeInUp;
  animation-fill-mode: forwards;

  animation-delay: 2.5s;
}

.leftCointainerDetails {
  width: 100vw;
  display: grid;
  justify-items: center;
  animation: 2.4s ease collapsediv;
}

.imgBackgroundDetails {
  background-size: cover;
  background-image: url("../../assets/bannerPattern.svg");
  background-position: center center;
}
.cointainerDetails {
  display: grid;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto 0fr;
  animation: 2.4s ease collapse;
}
