.inputField {
  font-size: 15px;
  padding: 10px 10px 10px 2px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--subText40);
  box-shadow: none;
  background: var(--primaryBg);
  color: var(--text);
  transition: all 0.2s ease;
  padding-left: 2px;
}

.inputField-placeholder {
  font-size: 15px;
  padding: 10px 10px 10px 2px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--subText40);
  box-shadow: none;
  background: var(--primaryBg);
  color: var(--text);
  transition: all 0.2s ease;
  padding-left: 2px;
}

.inputField-wrong {
  font-size: 15px;
  padding: 10px 10px 10px 2px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--subText40);
  box-shadow: none;
  background: var(--primaryBg);
  color: var(--text);
  transition: all 0.2s ease;
  padding-left: 2px;
  border-color: var(--growwRed);
}

.inputField-correct {
  font-size: 15px;
  padding: 10px 10px 10px 2px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--subText40);
  box-shadow: none;
  background: var(--primaryBg);
  color: var(--text);
  transition: all 0.2s ease;
  padding-left: 2px;
  border-color: var(--primaryClr);
}


.floating-label {
  position: absolute;
  pointer-events: none;
  top: 10px;
  color: var(--subText30);
  transition: 0.2s ease all;
}

.floating-label-placeholder {
  position: absolute;
  pointer-events: none;
  top: 10px;
  color: var(--subText30);
  transition: 0.2s ease all;
}

.floating-label-correct {
  position: absolute;
  pointer-events: none;
  top: -12px;
  font-size: 13px;
  opacity: 1;
  transition: 0.2s ease all;
  color: var(--primaryClr);
}

.floating-label-wrong {
  position: absolute;
  pointer-events: none;
  top: -12px;
  font-size: 13px;
  opacity: 1;
  transition: 0.2s ease all;
  color: var(--growwRed);
}

.errorInputField {
  font-size: 13px;
  color: var(--growwRed);
}

input:focus ~ .floating-label {
  top: -12px;
  font-size: 13px;
  opacity: 1;
  transition: 0.2s ease all;
  color: var(--primaryClr);
}
