.cointainer {
	display: grid;
	height: 100vh;
	grid-template-columns: 4fr 6fr;
}

.leftCointainer {
	display: grid;
	align-items: center;
	justify-items: center;
}

.imgBackground {
	background-size: cover;
	background-image: url("../../assets/bannerPattern.svg");
	background-position: center center;
}

.fields {
	display: grid;
	row-gap: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.inputField {
	font-size: 15px;
	padding: 10px 10px 10px 2px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--subText40);
	box-shadow: none;
	background: var(--primaryBg);
	color: var(--text);
	transition: all 0.2s ease;
	padding-left: 2px;
}

.inputField:focus {
	border-color: var(--primaryClr);
}

.floating-label {
	position: absolute;
	pointer-events: none;
	top: 10px;
	color: var(--subText30);
	transition: 0.2s ease all;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
	top: -12px;
	font-size: 13px;
	opacity: 1;
	transition: 0.2s ease all;
	color: var(--primaryClr);
}

.title {
	margin-top: 20px;
	font-weight: 500;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.1px;
	color: var(--text);
}

.primaryButton {
	background: var(--primaryClr);
	color: var(--primaryBg);
	background-position: 50%;
	transition: background 0.8s;
	display: inline-block;
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
}
